<script>
    function init() {
        let textarea = document.getElementById("message");
        if (textarea != null) {
            textarea.value = "";
        }
    }
    window.onload = init;
</script>


{{if .Error}}
<div id="any-errors" class="flex items-center justify-center">
    <span id="form-email-error" class="text-red-500">{{.Error}}</span>
</div>
{{end}}

<form
    id="contact-form"
    type="submit"
    class="p-8 flex flex-col gap-4"
    hx-post="/contact"
    hw-swap="innerHTML"
    hx-target="#contact"
    hx-target-400="#contact"
>
    <div
        class="flex flex-col w-full md:w-9/12 self-center md:flex md:flex-row pb-4 gap-2"
    >
        <div class="flex flex-col w-full">
            <input
                required
                class="h-12 md:h-16 indent-2 outline-none bg-slate-100"
                type="text"
                id="name"
                name="name"
                placeholder="{{.ContactFields.Name}}"
                pattern="^[a-zA-Z\s]*$"
                value="{{.Name}}"
            />
            {{if .FormErrors.Name}}
            <span id="email-name-error" class="text-red-500">{{.FormErrors.Name}}</span>
            {{end}}
        </div>

        <div class="flex flex-col w-full">
            <input
                required
                class="h-12 md:h-16 indent-2 outline-none bg-slate-100"
                type="email"
                id="email"
                name="email"
                placeholder="{{.ContactFields.Email}}"
                value="{{.Sender}}"
            />
            {{if .FormErrors.Email}}
            <span id="email-send-error" class="text-red-500"
                >{{.FormErrors.Email}}</span
            >
            {{end}}
        </div>
    </div>

    <div class="flex flex-col w-full md:w-9/12 self-center">
        <textarea
            required
            class="h-36 md:h-96 pb-4 pt-2 pl-2 text-left outline-none bg-slate-100"
            type="text"
            id="message"
            name="message"
            placeholder="{{.ContactFields.Message}}"
        >
            {{.Body}}
        </textarea>
        {{if .FormErrors.Message}}
        <span id="email-body-error" class="text-red-500">{{.FormErrors.Message}}</span>
        {{end}}
    </div>

    <button
        class="px-4 py-2 w-60 self-center text-center font-normal text-cyan-600 bg-transperent outline-none border-2 border-cyan-600 rounded-3xl hover:bg-cyan-600 hover:text-white transition delay-75 duration-300 ease-in-out"
        type="submit"
    >
        Enviar
    </button>
</form>
