<form id="contact-form" type="submit" class="p-8 flex flex-col gap-4" hx-post="/contact" hx-target-error="#any-errors"
    hx-ext="response-targets">
    <div class="flex flex-col md:flex md:flex-row pb-4 gap-2">
        <input required class="w-full h-12 md:h-16 indent-2 outline-none bg-slate-100" type="text" id="name" name="name"
            placeholder="Nome" pattern="^[a-zA-Z\s]*$" />
        <input required class="w-full h-12 md:h-16 indent-2 outline-none bg-slate-100" type="email" id="email"
            name="email" placeholder="Email" />
    </div>

    <textarea required class="w-full h-36 md:h-96 pb-4 pt-2 indent-2 outline-none bg-slate-100" type="text" id="message"
        name="message" placeholder="Mensagem">
    </textarea>

    <button class="px-4 py-2 w-60 self-center text-center font-normal text-cyan-600 bg-transperent outline-none border-2 border-cyan-600 rounded-3xl
                hover:bg-cyan-600 hover:text-white transition delay-75 duration-300 ease-in-out" type="submit">
        Enviar
    </button>
</form>
