</main>
<footer id="footer" class="w-full flex flex-col items-center justify-center gap-4 bg-teal-700 text-white p-16 mt-16">
    <div class="p-4">
        <img src="/static/images/abstract_m_no_bg.png" width="120" height="120" />
    </div>
    <p class="flex flex-col p-4 text-2xl text-slate-400">
        <span>Construindo, aprendendo e evoluindo</span>
        <span class="self-center">um pouco de cada vez</span>
    </p>
    <nav class="flex gap-4 p-4">
        <a class="bg-white rounded-full border-2 border-slate-400 p-3 filter-brightness-[100]
            hover:bg-slate-300 hover:text-white hover:border-white transition delay-75 duration-300 ease-in-out"
            href="https://github.com/mateus-werneck">
            <img src="/static/images/github.svg" width="24" height="24" />
        </a>
        <a class="bg-white rounded-full border-2 border-slate-400 p-3
            hover:bg-slate-300 hover:text-white hover:border-white transition delay-75 duration-300 ease-in-out"
            href="https://www.linkedin.com/in/mateus-werneck/">
            <img src="/static/images/linkedin.svg" width="24" height="24" />
        </a>
        <a class="bg-white rounded-full border-2 border-slate-400 p-3
            hover:bg-slate-300 hover:text-white hover:border-white transition delay-75 duration-300 ease-in-out"
            href="mailto:werneck.mateus@gmail.com">
            <img src="/static/images/email.svg" width="24" height="24" />
        </a>

    </nav>

    <div class="flex flex-col p-4">
        <span class="text-sm">Desenvolvido por Mateus Werneck</span>
        <span class="text-xs self-center">© 2024 Todos os direitos reservados</span>
    </div>
</footer>
</body>

</html>
