<div class="py-16 flex flex-col items-center text-center">
    <div
        id="summary-title"
        class="flex flex-col gap-16 md:gap-8 text-slate-900"
    >
        <h1 class="text-3xl md:text-5xl font-bold">
            <span>{{.IntroTitle}}</span>
        </h1>

        <p class="flex flex-col self-center text-lg md:text-xl text-black">
            <span>{{.IntroSubTitleOne}}</span>
            <span>{{.IntroSubTitleTwo}}</span>
        </p>

        <img
            src="/static/images/mf-avatar.svg"
            class="self-center w-[150px] md:w-[210px]"
        />

        <a
            class="p-2 self-center text-center text-cyan-600 font-normal bg-transperent outline-none border-2 border-cyan-600 rounded-3xl w-7/12 hover:bg-cyan-600 hover:text-white transition delay-75 duration-300 ease-in-out"
            href="/static/files/Mateus Werneck.pdf"
            download
        >
            {{.CvButton}}
        </a>
    </div>
</div>
