<script>
    function changeOpacity(element) {
        var target = document.getElementById(`${element}-animation`);

        if (target != null) {
            target.style.background = "rgb(47 79 79 / 1)";
            return;
        }

        var target = document.getElementById(`${element}-logo`);

        if (target == null) {
            return;
        }

        if (target.style.opacity == 0) {
            target.style.opacity = 1;
        }
    }
</script>

<div id="{{.Element}}" hx-on:htmx-after-settle="changeOpacity('{{.Element}}')">
    {{ template "logo.html" . }}
</div>
