{{template "header.html" .}}

{{template "body.html"}}
 <nav class="flex items-stretch pb-16 px-2 pt-8 gap-16 justify-around border-2 border-slate-200">
    {{template "personal-logo.html"}}
    <a class="text-2xl self-center text-center font-semibold text-cyan-600
        hover:filter hover:brightness-150 transition delay-75 duration-300 ease-in-out" href="/">
        <img src="/static/images/close.svg" class="w-8"/>
    </a>
</nav>

<div class="flex flex-col items-center justify-center pt-8">
    <h1 class="text-xl md:text-3xl">{{.FormTitle}}</h1>
    <h2 class="text-md md:text-xl">{{.FormDescription}}</h2>
</div>

<div id="any-errors" class="flex items-center justify-center">

</div>

<div id="contact" hx-ext="response-targets" class="flex flex-col gap-4 pb-16 self-center md:w-7/12">
    {{ template "contact-form.html" .}}
</div>

</div>
