{{template "header.html" .}}

{{template "body.html"}}
<nav class="text-sm md:text-lg flex items-stretch pt-8 pb-16 px-2 gap-16 justify-around">
    <a href="/" class="pr-16">
        <img src="/static/images/abstract_m_no_bg.png" class="w-32 hover:filter hover:brightness-90" />
    </a>
    <a class="break-keep px-4 py-2 self-center text-center font-normal text-cyan-600 bg-transperent outline-none border-2 border-cyan-600 rounded-3xl
        hover:bg-cyan-600 hover:text-white transition delay-75 duration-300 ease-in-out" href="/contact">
        Fale Comigo
    </a>
</nav>
{{template "personal-heading.html" .}}
{{template "personal-summary.html" .}}
{{template "recent-work.html" .}}
{{template "show-interest.html" .}}

</div>
{{template "footer.html" . }}
